.accessibility-menu {
  /* Add your custom styles here */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accessibility-menu button {
  background-color: #4a90e2;
  border: none;
  color: white;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px 10px;
}

body.dark-mode {
  background-color: #333;
  color: red;
  font-weight: bold;
}

body.dark-mode a {
  color: red;
}

/* High contrast mode */
body.high-contrast {
  background-color: #fff;
  color: #000;
}

body.high-contrast a {
  color: #000;
}

/* Text-only mode */
body.text-only * {
  background: none !important;
  color: #000 !important;
  font-size: 16px !important;
  font-weight: normal !important;
  text-decoration: none !important;
  font-family: Arial, sans-serif !important;
}

body.text-only img {
  display: none !important;
}

body.text-only *::before,
body.text-only *::after {
  content: none !important;
}

.font-family-buttons button:not(:last-child) {
  margin-bottom: 0.5rem;
}
