@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Open+Sans:ital,wght@1,300&family=Square+Peg&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundColor {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/15/02/07/snack-2403881_1280.png");
}

.LabelMail {
  margin-left: 795px;
}

.EmailField {
  margin-left: 400px;
  direction: rtl;
}

.buttonConnect {
  margin-left: 760px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .LabelMail {
    margin-left: 500px;
  }

  .EmailField {
    margin-left: 265px;
    direction: rtl;
  }

  .buttonConnect {
    margin-left: 450px;
    margin-top: 0px;
  }
}
