@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Open+Sans:ital,wght@1,300&family=Square+Peg&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundColor {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/15/02/07/snack-2403881_1280.png");
}

form.field {
  width: 400px;
  margin-left: 350px;
  text-align: right;
  direction: rtl;
}

div.orders {
  direction: rtl;
  margin-right: 350px;
  margin-top: 10px;
}

p.line1 {
  margin-right: -50px;
}

@media only screen and (min-width: 768px) {
  div.orders {
    direction: rtl;
    margin-right: 150px;
    margin-top: 10px;
  }

  p.line1 {
    margin-right: -30px;
  }
}

@media only screen and (min-width: 1024px) {
  form.field {
    width: 400px;
    margin-left: -300px;
    text-align: right;
    direction: rtl;
  }

  div.orders {
    direction: rtl;
    margin-right: 200px;
    margin-top: 10px;
  }

  p.line1 {
    margin-right: -30px;
  }
}

@media only screen and (min-width: 1440px) {
  div.orders {
    direction: rtl;
    margin-right: 300px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 2560px) {
  div.orders {
    direction: rtl;
    margin-right: 330px;
    margin-top: 10px;
  }
}
